<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-sm-8">
                <div class="card text-center mt-5">
                    <div class="card-header text-white bg-primary">
                        Student List
                    </div>
                    <div class="card-body">
                        <table class="table mt-2">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th colspan="3"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${students != null}" th:each="student : ${students}">
                                <td th:text="${student.id}"></td>
                                <td th:text="${student.firstName}"></td>
                                <td th:text="${student.lastName}"></td>
                                <td>
                                    <a class="btn btn-info" th:href="@{'/students/' + ${student.id}}" role="button">View</a>
                                </td>
                                <td>
                                    <a class="btn btn-warning" th:href="@{'/students/' + ${student.id} + '/update'}" role="button">Edit</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" th:href="@{'/students/' + ${student.id} + '/delete'}" role="button">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-sm-end">
            <div class="col-sm-4">
                <a class="btn btn-success mt-2" th:href="@{'/students/create'}" role="button">Create student</a>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>